#input {

}

#suggestions {
    position: absolute;
    list-style: none;
    padding: 0px;
    background-color: #fCfAf7;
    overflow-x: hidden;
}

#suggestions li {
    border: 1px solid var(--block-separator-color);
    border-top: none;
    cursor: pointer;
    padding: 2px;
}

#suggestions li:first-child {
    border-top: 1px solid var(--block-separator-color);
}

#suggestions li:hover {
    background-color: #c9c9c9;
}