img {
    position: absolute;
    top: 10px;
    left: 20px;
    height: 60px;
    aspect-ratio: 1 / 1;
}

#menues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 40px;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 24px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    opacity: 1;
    border-bottom: 2px solid var(--secondary-color)
}

.selected {
    opacity: 1;
    border-bottom: 2px solid var(--secondary-color);
}