:root {
    --body-background-color: #FCFAF7;
    --block-separator-color: #d9d9d9;
    --main-text-color: #363636;
    --secondary-color: #4768cb;
}

:root {
    --main-text-color: #363636;
    --secondary-color: #4768cb;
    --emphasis-color: #e95273;
}

body {
    background-color: var(--body-background-color);
    margin: 0px;
    display: grid;
    grid-template: auto auto auto / 1fr;
}

app-header {
    display: block;
    height: 80px;
    border-bottom: 2px solid var(--block-separator-color);
}

app-footer {
    height: 40px;
    border-top: 2px solid var(--block-separator-color);
}

#main {
    height: calc(100vh - 80px - 50px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#inputs {
    height: 100%;
    border-right: 2px solid var(--block-separator-color);
    border-left: 2px solid var(--block-separator-color);
    padding-left: 30px;
    padding-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color);
}