<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" />
	</system.web>
	<!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IProxyService"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas
						maxDepth="32"
						maxStringContentLength="200000000"
						maxArrayLength="200000000"
						maxBytesPerRead="200000000"
						maxNameTableCharCount="200000000" />
				</binding>
			</basicHttpBinding>

			<webHttpBinding>
				<binding name="RestBinding"
						 maxReceivedMessageSize="20000000"
						 maxBufferSize="20000000"
						 maxBufferPoolSize="20000000">
					<readerQuotas
						maxDepth="32"
						maxStringContentLength="200000000"
						maxArrayLength="200000000"
						maxBytesPerRead="200000000"
						maxNameTableCharCount="200000000" />
				</binding>
			</webHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/ProxyJCDecaux/ProxyService/"
			  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService"
			  contract="ProxyService.IProxyService" name="BasicHttpBinding_IProxyService" />
		</client>

		<services>
			<service name="OrchestratorService.OrchestratorService" behaviorConfiguration="ServiceBehavior">
				<endpoint address=""
						  binding="webHttpBinding"
						  bindingConfiguration="RestBinding"
						  contract="OrchestratorService.IOrchestratorService"
						  behaviorConfiguration="RestBehavior" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/OrchestratorService/OrchestratorService/" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="RestBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>
