@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">

<body>
    <p><a href="src/app/pages/homepage/homepage.html">Redirect</a></p>
    <script>
        window.location.href = "src/app/pages/homepage/homepage.html";
    </script>
</body>

<script type="module" src="main.js"></script>

</html>